<ion-content padding>
  <div class="header" text-right style="margin-bottom:2em;" (click)="cerrar()">
    <ion-icon name="close"></ion-icon>
  </div>
  <ion-list>
    <h2 *ngIf="deviceSeleccionado!=null">Dispositivo conectado:{{deviceSeleccionado}} - Address {{addressGlobal}}</h2>
    <button ion-button block (click)="startScanning()">Buscar</button>
    <ion-list-header>
      Dispositivos Asociados
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}} <button ion-button (click)="connectDevice(device.address,device.name)">Conectar</button> <button ion-button (click)="sendMessage(device.address,device.name)">Enviar Instrucciones</button>
    </ion-item>
    <button ion-button block *ngIf="connectStatus==true" (click)="disconnect()">Desconectar</button>
    <ion-list-header>
      Dispositivos disonibles
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
    <div class="content-spinner">
      <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
      <br>
      <span *ngIf="gettingDevices">Buscando dispositivos ...</span>
    </div>
  </ion-list>
</ion-content>
